ng-include(src="'/_public/js/result/apartment-map-info-box.html'")
#result-apartment-list-section(ng-controller='ResultApartmentListCtrl').container
  .row
    #apartment-list.col-md-4
      .row.page-header(ng-repeat="apartment in model.apartmentList")
        .row.apartment-overview
          h5.col-md-8 {{apartment.address}}
        .row.apartment-details
          .col-md-2.col-md-offset-1.detail
            p ${{apartment.price}}
            p.help-block price
          .col-md-2.detail
            p {{apartment.bedroom_count}}
            p.help-block bed
          .col-md-2.detail
            p {{apartment.bathroom_count}}
            p.help-block bath
          .col-md-3.detail(ng-show="apartment.sqfeet")
            p {{apartment.sqfeet}}
            p.help-block area
        .row.apartment-context
          .col-md-4
            .badge {{apartment.last_updated_date | fromNow}}
          .col-md-4
            .badge 100% Match
          .col-md-4
            .badge {{apartment.broker_fee}}

    #map-list.col-md-8
      .map-canvas(
      ui-map='searchMap',
      ui-options='mapOptions',
      google-maps-read-only-map,google-maps-searchable-map,
      ui-event="{'map-polygoncomplete': 'addDesiredHomeArea($event, $params)','map-click': 'removeDesiredHomeArea($event, $params)'}"
      template-url="/_public/js/apartment/apartment-map-info-box.html"
      )
