section.parent-form#payment-step(ng-show="isCurrentStep('paymentStep')", ng-form='paymentStepForm', ng-controller='SearchWizardPaymentCtrl')
  .page-header
    h1.text-center Step Six: Almost done
  .alert.alert-info
    p#search-info-message Fill in your payment information below.<br>We will let you know when your results come in (no more than 24 hours from now), and send you a custom link to them.<br>If you are not 100% satisfied with your results, 
      strong.heavy-emphasis we'll refund your $35.
  .form-group
    label.col-md-2.col-md-offset-2.control-label(for='input-description') Payment
      span.required*
    .col-md-8
      button.stripe-button.btn.btn-primary.btn-sm(stripe-checkout
      amount='{{SEARCH_PRICE}}'
      description='Nextlanding Search ({{searchPrice | currency}})'
      image='https://stripe.com/img/documentation/checkout/marketplace.png'
      email='{{model.search.search_attrs.email_address}}'
      payment-callback='model.processPayment(token)'
      ) Pay with card
      span(ng-show='model.paymentPending')
        i.fa.fa-spinner.fa-2x(ng-class="{'fa-spin':model.paymentPending}")
        | processing payment...
  .row
    .col-md-8.col-md-offset-4
      p
        a(href='https://stripe.com', target='_blank')
          img#payment-image(src='https://nextlanding.s3.amazonaws.com/static/img/payment/stripe.png')
          |  Your credit card information is safe with us.
