section.parent-form#payment-step(ng-show="isCurrentStep('paymentStep')", ng-form='paymentStepForm', ng-controller='SearchWizardPaymentCtrl')
  .page-header
    h1.text-center Step Six: Almost done
  .alert.alert-info
    p#search-info-message We'll notify you within 24 hours and provide a unique link to your apartment listings. If you’re not 100% satisfied with the results, we’ll refund your <strong>${{searchPrice}}. </strong>
  .form-group
    label.col-md-2.col-md-offset-2.control-label(for='input-description') Payment
    .col-md-8
      button.stripe-button.btn.btn-primary.btn-sm(stripe-checkout
      amount='3500'
      description='Nextlanding Search ({{searchPrice | currency}})'
      image='https://stripe.com/img/documentation/checkout/marketplace.png'
      payment-callback='model.processPayment(token)'
      ) Pay with card
      span(ng-show='model.paymentPending')
        i.fa.fa-spinner.fa-2x(ng-class="{'fa-spin':model.paymentPending}")
        | processing payment...
  .row
    .col-md-8.col-md-offset-4
      p
        a(href='https://stripe.com', target='_blank')
          img#payment-image(src='https://nextlanding.s3.amazonaws.com/static/img/payment/stripe.png')
          |  Your credit card information is safe with us.
